@import '../../../styles/variables.scss';

* {
    margin: 0;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.t-layout{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(245, 245, 245);

    .t-layout-header{
        width: 100%;
        height: 100px;
        display: flex;
        background: rgb(245, 245, 245);
        justify-content: center;
    }

    .t-layout-container{
        width: 100%;
        min-height: 85vh;
        background: rgb(36, 40, 47);
    }
}


